
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="content">
  <div class="left">
    <multi-column-select
    name="my-select"
    placeholder="Choose..."
    nameField="name"
    valueField="id"
    [columns]="['age','name','hobby']"
    [options]="options"
    [(ngModel)]="selectedId"
    (selectEvent)="valueSelected($event)"
    (onTextEnter)="searchText=$event"
    >
    </multi-column-select>
  </div>

  <div class="right">
    <span>Selected Value: {{selectedId}}</span>

    <br>

    <span>Selected Object: {{selectedObject}}</span>

    <br>

    <span>Search Text: {{searchText}}</span>

    </div>

</div>

<router-outlet></router-outlet>
